@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #04303A;
}

.nav-links {
    text-align: center;
    padding-top: 35px;
}

/*navigation links text*/
.nav-links a {
    font-family: 'Londrina Solid', sans-serif;
    color: white;
    text-decoration: none;
    margin: 50px;

}

.nav-links a:hover {
    color: #b8a38c;
}
/*about me shape*/
.rectangle {
    width: 500px;
    height: 100px;
    background-color:#FFEDD9;
    margin: 50px auto;
    border-radius: 30px;

}

.pm-text {
    font-family: 'Londrina Solid', sans-serif;
    color:#04303A;
    text-align: center;
    font-size:3.5rem;
    padding: 0px 20px;
    margin: 0 auto;
   max-width: 600px;
   line-height: 1.6;

}

.pm-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

/* container for the images */
.slides{
    width: 90%;
    max-width: 300px;
}

/* hide all images by default */
.slide{
    display: none;
    width: 100%;
}

/* show the active slide */
.slide.active{
    display: block;
}

/* image styling */
.slides img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev{
  left: 30%;
  border-radius: 20px;
 border-radius: 10px;
  background-color: #FFEDD9;
  color: #04303A;
  font-family: 'Londrina Solid', sans-serif;
}

.next{
  right: 30%;
  border-radius: 10px;
  background-color: #FFEDD9;
  color: #04303A;
  font-family: 'Londrina Solid', sans-serif;
}

.prev:hover{
        background-color: rgb(128, 172, 163) !important;
        color: #FFEDD9 !important;

}
.next:hover{
        background-color: rgb(128, 172, 163) !important;
        color: #FFEDD9 !important;
}

.pm-paragraph{
    font-family: 'Londrina Solid', sans-serif;
    color: #FFEDD9;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    width: 500px;
    padding-top: 10px;

}