@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #04303A;
}

.nav-links {
    text-align: center;
    padding-top: 35px;
}

/*navigation links text*/
.nav-links a {
    font-family: 'Londrina Solid', sans-serif;
    color: white;
    text-decoration: none;
    margin: 50px;

}

.nav-links a:hover {
    color: #b8a38c;
}

/*name*/
.header {
    font-family: 'Londrina Solid', sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;
}


h2 {
    font-family: 'Londrina Solid', sans-serif;
    color: white;
    font-size: 3rem;
}

.about-text {
    font-family: 'Londrina Solid', sans-serif;
    color: white;
    font-size: 3.5rem;
    padding-left: 300px;
    margin-top: 130px;
}

.me-text {
    font-family: 'Londrina Solid', sans-serif;
    color: white;
    font-size: 3.5rem;
    padding-left: 900px;
    margin-top: -50px;
}
/*about me paragraph*/
.about-paragraph {
    font-family: 'Londrina Solid', sans-serif;
    color:#04303A;
    text-align: center;
    font-size:1.5rem;
    padding: 60px 20px;
    margin: 0 auto;
   max-width: 600px;
   line-height: 1.5;

}


.portfolio-text {
    font-family: 'Londrina Solid', 'sans-serif';
    color: white;
    font-size: 1.5rem;
    margin-top: -90px;
}

/*about me shape*/
.rectangle {
    width: 700px;
    height: 350px;
    background-color:#FFEDD9;
    margin: 50px auto;
    border-radius: 30px;
    margin-top: -50px;

}
    
#portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    align-items: center;
    justify-items: center;
    padding: 50px;
}

#portfolio svg:first-child {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
}

#portfolio svg:last-child {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
}


@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-14px);
    }
}

.float {
    animation: float 3s ease-in-out infinite;
    transform-box: fill-box;
    transform-origin: center;
}

#portfolio a:hover ellipse {
    fill: rgb(128, 172, 163) !important;
}

#portfolio a:hover text {
  fill: rgb(251, 233, 207) !important;
}
